img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

body {
  background-color: #2F2F45;
}

h1 {
  text-align: center;
  color: white;
  margin: 20px 0;
  padding: 10px;
}

.center-div
{
  margin: 0 auto;
  width:50%;
  max-width: 640px;
  min-width: 320px;
  background-color: #ccc;
  border-radius: 3px;
  
}


.clearfix:after {
    display:block;
    clear:both;
}


