body {
  background-color: #2F2F45;
}

h1 {
  text-align: center;
  color: white;
  margin: 20px 0;
  padding: 10px;
}

.center-div
{
  margin: 0 auto;
  width: 640px
  background-color: #ccc;
  border-radius: 3px;
  position:relative;
}
